In [27]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [28]:
NASDAQ = pd.read_csv('Data/NASDAQ 1962-2024.csv') 
NYSE = pd.read_csv('Data/NYSE 1962-2024.csv')
NYSE_A =  pd.read_csv('Data/NYSE A 1973-2024.csv')
OTC =  pd.read_csv('Data/OTC 1972-2024.csv')

In [29]:
NASDAQ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11470963 entries, 0 to 11470962
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Ticker     object
 2   Exchange   object
 3   Open       float64
 4   High       float64
 5   Low        float64
 6   Close      float64
 7   Adj Close  float64
 8   Volume     float64
dtypes: float64(6), object(3)
memory usage: 787.6+ MB

In [30]:
NASDAQ.head()

         Date Ticker Exchange  Open   High   Low  Close  Adj Close     Volume
0  2008-01-29   AACG   NASDAQ  9.50   9.99  8.57   8.75   0.702589  1489000.0
1  2008-01-30   AACG   NASDAQ  8.75   9.15  8.30   8.50   0.682515   219000.0
2  2008-01-31   AACG   NASDAQ  8.49  10.30  8.49   9.55   0.766826   182300.0
3  2008-02-01   AACG   NASDAQ  9.93   9.94  9.50   9.51   0.763614    28200.0
4  2008-02-04   AACG   NASDAQ  9.50   9.71  9.50   9.50   0.762811     8300.0

In [31]:
NASDAQ.sample()

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume
8291044,2017-08-31,PRQR,NASDAQ,5.25,5.6,5.25,5.55,5.55,62600.0

In [32]:
NYSE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844147 entries, 0 to 10844146
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Ticker     object
 2   Exchange   object
 3   Open       float64
 4   High       float64
 5   Low        float64
 6   Close      float64
 7   Adj Close  float64
 8   Volume     float64
dtypes: float64(6), object(3)
memory usage: 744.6+ MB

In [33]:
NYSE.head()

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume
0,1999-11-18,A,NYSE,32.546494,35.765381,28.612303,31.473534,26.652395,62546380.0
1,1999-11-19,A,NYSE,30.713518,30.758226,28.478184,28.880545,24.456600,15234146.0
2,1999-11-22,A,NYSE,29.551144,31.473534,28.657009,31.473534,26.652395,6577870.0
3,1999-11-23,A,NYSE,30.400572,31.205294,28.612303,28.612303,24.229450,5975611.0
4,1999-11-24,A,NYSE,28.701717,29.998213,28.612303,29.372318,24.873047,4843231.0

In [34]:
NYSE.sample()

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume
10425987,2020-07-30,WFC,NYSE,25.190001,25.24,24.5,24.65,22.55134,51019200.0

In [35]:
NYSE_A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020222 entries, 0 to 1020221
Data columns (total 9 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   Date       1020222 non-null  object
 1   Ticker     1020222 non-null  object
 2   Exchange   1020222 non-null  object
 3   Open       1020221 non-null  float64
 4   High       1020221 non-null  float64
 5   Low        1020221 non-null  float64
 6   Close      1020221 non-null  float64
 7   Adj Close  1020221 non-null  float64
 8   Volume     1020221 non-null  float64
dtypes: float64(6), object(3)
memory usage: 70.1+ MB

In [36]:
NYSE_A.head()

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume
0,2022-03-21,AAMC,NYSE A,9.935294,11.000000,8.235294,9.264706,9.264706,123760.0
1,2022-03-22,AAMC,NYSE A,8.655882,10.247059,8.352941,8.647059,8.647059,143820.0
2,2022-03-23,AAMC,NYSE A,8.764706,9.352941,8.147059,8.264706,8.264706,102170.0
3,2022-03-24,AAMC,NYSE A,8.326471,8.558824,8.294118,8.394118,8.394118,12580.0
4,2022-03-25,AAMC,NYSE A,8.352941,9.250000,8.352941,8.958824,8.958824,56610.0

In [37]:
NYSE_A.sample()

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume
962277,1998-10-06,UUU,NYSE A,0.369141,0.369141,0.369141,0.369141,0.369141,0.0

In [38]:
OTC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2521996 entries, 0 to 2521995
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   Ticker     object
 2   Exchange   object
 3   Open       float64
 4   High       float64
 5   Low        float64
 6   Close      float64
 7   Adj Close  float64
 8   Volume     float64
dtypes: float64(6), object(3)
memory usage: 173.2+ MB

In [39]:
OTC.head()

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume
0,1995-05-05,AATC,OTC,3.958333,4.375000,3.958333,4.218750,2.753274,70080.0
1,1995-05-08,AATC,OTC,4.375000,4.375000,4.062500,4.166667,2.719283,12720.0
2,1995-05-09,AATC,OTC,4.166667,4.166667,3.958333,4.062500,2.651301,15000.0
3,1995-05-10,AATC,OTC,4.166667,4.166667,3.958333,4.166667,2.719283,7440.0
4,1995-05-11,AATC,OTC,4.062500,4.375000,4.062500,4.166667,2.719283,9960.0

In [40]:
OTC.sample()

,Date,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume
725155,1986-08-13,ENZN,OTC,0.0,8.75,8.625,8.625,0.170229,23700.0

## Conversión de Fechas

##### Convierte la columna de fechas del dataset a objetos DateTime de Pandas y establece esta columna como índice.

In [41]:
NASDAQ['Date']= pd.to_datetime(NASDAQ['Date'])
NASDAQ=NASDAQ.set_index('Date')

In [42]:
NYSE['Date']= pd.to_datetime(NYSE['Date'])
NYSE=NYSE.set_index('Date')

In [43]:
NYSE_A['Date']= pd.to_datetime(NYSE_A['Date'])
NYSE_A=NYSE_A.set_index('Date')

In [44]:
OTC['Date']= pd.to_datetime(OTC['Date'])
OTC=OTC.set_index('Date')

## Filtrado por Año

##### Filtra los datos para obtener todas las acciones del año 2020.

In [45]:
NASDAQ[NASDAQ.index.nombres]

SyntaxError: invalid syntax (1660178412.py, line 1)

In [ ]:
dic =[{'nombre':'Abraham','edad':15},{'nombre':'Juan','edad':13},{'nombre':'Pedro','edad':18}]

nombres=pd.DataFrame(dic)

In [ ]:
nombres

    nombre  edad
0  Abraham    15
1     Juan    13
2    Pedro    18

In [ ]:
nombres=nombres.set_index

## 4.Visualización Semanal
##### Crea una visualización de la serie de tiempo del precio de cierre semanal de una acción específica.

In [48]:
NASDAQ['week_no'] = NASDAQ.index
NASDAQ['week_no'].dt.isocalendar().week
NASDAQ.sample()

,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume,week no,week_no
Date,,,,,,,,,,
2023-07-11,CAN,NASDAQ,2.75,2.92,2.675,2.92,2.92,6365800.0,2023-07-11,2023-07-11

In [49]:
NASDAQ.groupby(['Ticker','week_no'])['Close'].mean()

Ticker  week_no
AACG    2008-01-29     8.75
        2008-01-30     8.50
        2008-01-31     9.55
        2008-02-01     9.51
        2008-02-04     9.50
                      ...
ZYXI    2024-05-16    11.00
        2024-05-17    10.88
        2024-05-20    10.56
        2024-05-21    10.58
        2024-05-22    10.47
Name: Close, Length: 11470493, dtype: float64

In [50]:
NYSE['week_no'] = NYSE.index
NYSE['week_no'].dt.isocalendar().week
NYSE.sample()

,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume,week_no
Date,,,,,,,,,
2005-07-19,AEE,NYSE,55.41,55.799999,55.279999,55.599998,25.530619,602800.0,2005-07-19

In [51]:
NYSE.groupby(['Ticker','week_no'])['Close'].mean()

Ticker  week_no
A       1999-11-18    31.473534
        1999-11-19    28.880545
        1999-11-22    31.473534
        1999-11-23    28.612303
        1999-11-24    29.372318
                        ...
ZWS     2024-05-16    32.349998
        2024-05-17    32.529999
        2024-05-20    32.599998
        2024-05-21    32.660000
        2024-05-22    32.220001
Name: Close, Length: 10844147, dtype: float64

In [52]:
NYSE_A['week_no'] = NYSE_A.index
NYSE_A['week_no'].dt.isocalendar().week
NYSE_A.sample()

,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume,week_no
Date,,,,,,,,,
2016-03-17,DXF,NYSE A,36.900002,37.5,36.900002,37.200001,37.200001,27.0,2016-03-17

In [53]:
NYSE_A.groupby(['Ticker','week_no'])['Close'].mean()

Ticker  week_no
AAMC    2022-03-21    9.264706
        2022-03-22    8.647059
        2022-03-23    8.264706
        2022-03-24    8.394118
        2022-03-25    8.958824
                        ...
ZONE    2024-05-16    3.490000
        2024-05-17    3.260000
        2024-05-20    3.350000
        2024-05-21    3.320000
        2024-05-22    3.100000
Name: Close, Length: 1020222, dtype: float64

In [54]:
OTC['week_no'] = OTC.index
OTC['week_no'].dt.isocalendar().week
OTC.sample()

,Ticker,Exchange,Open,High,Low,Close,Adj Close,Volume,week_no
Date,,,,,,,,,
2016-10-03,GGEI,OTC,4.6222,4.627,3.78,4.0,4.0,159701.0,2016-10-03

In [55]:
OTC.groupby(['Ticker','week_no'])['Close'].mean()

Ticker  week_no
AATC    1995-05-05    4.218750
        1995-05-08    4.166667
        1995-05-09    4.062500
        1995-05-10    4.166667
        1995-05-11    4.166667
                        ...
ZVOI    2024-05-16    0.000100
        2024-05-17    0.000100
        2024-05-20    0.000100
        2024-05-21    0.000100
        2024-05-22    0.000100
Name: Close, Length: 2521996, dtype: float64

In [ ]:
NYSE_A["ZONE"].plot(x=NYSE_A["ZONE"],y=NYSE_A['ZONE'],kind=line

In [ ]:
OTC["ZVOI"].plot(x=OTC["ZVOI"],y=OTC['ZVOI'],kind=line

In [ ]:
NYSE["ZWS"].plot(x=NYSE["ZWS"],y=NYSE['ZWS'],kind=line

In [ ]:
NASDAQ["ZONE"].plot(x=NASDAQ["ZONE"],y=NASDAQ['ZONE'],kind=line

7.Ventas de tiempo

In [ ]:
NASDAQ['Media_Movil_7D'] = NASDAQ['Volume'].rolling(window=7).mean() NASDAQ. sample()

In [ ]:
NYSE["Media_Movil_7D"] = NYSE['Volume'].rolling(window=7).mean() NYSE.sample()

In [ ]:
NYSE_A['Media_Movil_7D'] = NYSE_A['Volume'].rolling(window=7).mean() NYSE_A.sample()

In [ ]:
OTC['Media_Movil_7D'] = OTC['Volume'].rolling(window=7).mean() OTC.sample()

8. Intervalo de tiempo

In [ ]:
#Definir el intervalo de tiempo
Inicio = "20-05-01" Fin = "2024-05-30" 
#Ordenar los indices de menor a mayor 
NASDAQ.sort_index(inplace=True) NASDAQ. loc[Inicio:Fin]

In [ ]:
#Definir el intervalo de tiempo
Inicio = "20-05-01" Fin = "2024-05-30" 
#Ordenar los indices de menor a mayor 
NYSE.sort_index(inplace=True) NYSE. loc[Inicio:Fin]

In [ ]:
#Definir el intervalo de tiempo
Inicio = "20-05-01" Fin = "2024-05-30" 
#Ordenar los indices de menor a mayor 
NYSE_A.sort_index(inplace=True) NYSE_A. loc[Inicio:Fin]

In [ ]:
#Definir el intervalo de tiempo
Inicio = "20-05-01" Fin = "2024-05-30" 
#Ordenar los indices de menor a mayor 
OTC.sort_index(inplace=True) OTC.loc[Inicio:Fin]

9. Desplazamiento de tiempo

In [ ]:
#Transformacion de datos
NASDAQ['Fecha']= NASDAQ. index
df = NASDAQ[['Fecha','Close']]
df = df.groupby('Fecha')['Close'].mean()
# Supongamos que "df' es una serie y 'close' es la columna con los precios de cierre
# Asegurate de que el indice de "df' sea un Datetimeindex
# Desplazamiento hacia atras por 30 dias
backward_shifted = df. shift(periods=-30, freq='D')
# Desplazamiento hacia adelante por 30 dias
forward_shifted = df.shift(periods=30, freq='D')
# comparar los precios de cierre originales con los desplazados
comparison_df = pd.DataFrame({'backward_shifted':backward_shifted,
                              'Close':df,
                              'Forward_Shifted': forward_shifted})

In [ ]:
#Transformacion de datos
NYSE['Fecha']= NYSE. index
df = NYSE[['Fecha','Close']]
df = df.groupby('Fecha')['Close'].mean()
# Supongamos que "df' es una serie y 'close' es la columna con los precios de cierre
# Asegurate de que el indice de "df' sea un Datetimeindex
# Desplazamiento hacia atras por 30 dias
backward_shifted = df. shift(periods=-30, freq='D')
# Desplazamiento hacia adelante por 30 dias
forward_shifted = df.shift(periods=30, freq='D')
# comparar los precios de cierre originales con los desplazados
comparison_df = pd.DataFrame({'backward_shifted':backward_shifted,
                              'Close':df,
                              'Forward_Shifted': forward_shifted})

In [ ]:
#Transformacion de datos
NYSE_A['Fecha']= NYSE_A. index
df = NYSE_A[['Fecha','Close']]
df = df.groupby('Fecha')['Close'].mean()
# Supongamos que "df' es una serie y 'close' es la columna con los precios de cierre
# Asegurate de que el indice de "df' sea un Datetimeindex
# Desplazamiento hacia atras por 30 dias
backward_shifted = df. shift(periods=-30, freq='D')
# Desplazamiento hacia adelante por 30 dias
forward_shifted = df.shift(periods=30, freq='D')
# comparar los precios de cierre originales con los desplazados
comparison_df = pd.DataFrame({'backward_shifted':backward_shifted,
                              'Close':df,
                              'Forward_Shifted': forward_shifted})

In [ ]:
#Transformacion de datos
OTC['Fecha']= OTC. index
df = OTC[['Fecha','Close']]
df = df.groupby('Fecha')['Close'].mean()
# Supongamos que "df' es una serie y 'close' es la columna con los precios de cierre
# Asegurate de que el indice de "df' sea un Datetimeindex
# Desplazamiento hacia atras por 30 dias
backward_shifted = df. shift(periods=-30, freq='D')
# Desplazamiento hacia adelante por 30 dias
forward_shifted = df.shift(periods=30, freq='D')
# comparar los precios de cierre originales con los desplazados
comparison_df = pd.DataFrame({'backward_shifted':backward_shifted,
                              'Close':df,
                              'Forward_Shifted': forward_shifted})